<h2>Stel een vraag</h2>
<ul>
	<li>
	  <%= image_tag "question/money_box.svg", class: "process-icon" %>
	<article>
		<h3>vraag</h3>
		<p>Stel gratis en geheel vrijblijvend een juridische vraag. Alle vragen, eenvoudig of complex, kun je plaatsen.</p>
	</article>
</li><li>
        <%= image_tag "question/clock.svg", class: "process-icon" %>
	<article>
		<h3>antwoord</h3>
		<p>Na het plaatsen van je vraag ontvang je binnen 48 uur van verschillende professionals een antwoord.</p>
	</article>
</li><li>	
        <%= image_tag "question/privacy.svg", class: "process-icon" %>
	<article>
		<h3>review</h3>
		<p>Laat een review achter voor de professional. Zo help je andere gebruikers een goed beeld te krijgen van de professional.</p>
	</article>
</li>
</ul>

