<div class="authform">
  <% provide :title, t(:all, scope: [:questions])  %>  
  <h3><%= t(:all, scope: [:questions]) %></h3>

  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.question.title') %></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= link_to question.title, question %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Question', new_question_path %>
</div>
