<div class="authform">
<% provide :title, t(:all, scope: [:questions])  %>
  <table>
     <thead>
        <tr>
            <th><%= t('activerecord.attributes.question.title') %></th>
        </tr>
     </thead>
     <tbody>
       <% @questions.each do |question| %>
           <tr>
               <td>
                  <% if current_user.role == 'entrepreneur'%>
                    <%= link_to question.title, question %>
                  <% elsif current_user.role == 'lawyer' %>
                    <%= link_to question.title, new_answer_path(question_id: question.id) %>  
                  <% end  %>
               </td>
          </tr>
       <% end %>
      </tbody>
    </table>
</div>  
