<div id="new-question-content">

	<div>
		<%= render 'form' %>

		<article>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, cumque, nostrum, qui labore harum quibusdam sit nihil hic sint rem ratione ea magni illo ducimus fugiat consequuntur provident suscipit inventore.
		</article>
	</div>
</div>
