<div id="new-question-content">
<h1>Plaats hier gratis en geheel vrijblijvend jouw juridische vraag</h1>

<%= render 'form' %>

<article>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, cumque, nostrum, qui labore harum quibusdam sit nihil hic sint rem ratione ea magni illo ducimus fugiat consequuntur provident suscipit inventore.
</article>

<% if false #TODO: indien admin dan tonen %>
  <%= link_to 'Back', questions_path  %>
<% end %>
</div>
