<% provide :title, "Home"  %>
<div id="logo"><%= link_to "linkinglaw", root_path, id: "home" %></div>
<div id="tagline">voor ondernemers met juridische vragen</div>
<div id="btn-container">
 <ul>
  <li><%= link_to t(:ask_question, scope: [:questions]), new_question_path, class: "btn btn-default btn-lg" %></li>
  <li><%= link_to "Vind een professional", profiles_path, class: "btn btn-default btn-lg" %></li>      
  </ul>
</div>
