<% provide :title, "Juridische Professional"  %>
<div class="text-center" style="margin-top:150px;">
<%= link_to t(:sign_up, scope: [:devise, :registrations]), new_user_registration_path(:type => "lawyer"), class: "btn btn-primary btn-lg", 
id: "signup-lawyer"  %>
</div>
