<div class="authform">

    <% @profiles.each do |profile| %>
        <%= link_to profile.full_name, profile_path(profile.id), {class: "profile-link"} %><br>
    <% end %>
    <div>
      <%= paginate @profiles %>
    </div>
</div>