<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Goedendag,</p>
    <p>Bedankt voor het plaatsen van <a href="http://www.linkinglaw.nl/questions/#{@question.id}">uw vraag</a> op LinkingLaw!</p> 
    <p>95 % van de juridische vragen wordt binnen 3 dagen – en vaak zelfs binnen een paar uur - beantwoord door de juridische professionals die bij LinkingLaw aangesloten zijn. Wij laten het u direct weten wanneer u een antwoord ontvangt op uw vraag.</p> 
    <input>Bekijk uw vraag</input>
    <p>Met vriendelijke groet,</p>
    <p>Het LinkingLaw team</p>
  </body>
</html>
