<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      input[type=button] {
          float:right;
          color: white;
          background-color: #337ab7;
          border-color: #2e6da4;
          display: inline-block;
          margin-bottom: 0;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          background-image: none;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          border-radius: 4px;
         -webkit-user-select: none;
     }

     a {



      }
    </style>
  </head>
  <body>
    <p>Goedendag,</p>
    <p>Bedankt voor het plaatsen van <%= "<a href=\"http://www.linkinglaw.nl/questions/#{@question.id}\">uw vraag</a>" %> op LinkingLaw!</p> 
    <p>95 % van de juridische vragen wordt binnen 3 dagen – en vaak zelfs binnen een paar uur - beantwoord door de juridische professionals die bij LinkingLaw aangesloten zijn. Wij laten het u direct weten wanneer u een antwoord ontvangt op uw vraag.</p> 
    <button type="button" class="">Bekijk uw vraag
    <p>Met vriendelijke groet,</p>
    <p>Het LinkingLaw team</p>
  </body>
</html>
