<section id="advantages">
		<h2 class="bottom50">Waarom LinkingLaw?</h2>
		<div id="advantages_container" class="bottom40">
		  <div class="col">
		    <ul class="align-left">
			<li>Gratis juridische vragen stellen</li>
			<li>Reviews van andere ondernemers bekijken</li>
			<li>Binnen 48 uur antwoord</li>
		    </ul>
		  </div><div class="col bordered-left">
		    <ul class="align-right">
			<li>Toegang tot profielen van professionals</li>
			<li>Uw privacy wordt gerespecteerd</li>
			<li>Besparen op uw bedrijfskosten</li>
		    </ul>
		  </div>
                </div>
		<div  class="centered">
		  <%= button_to "Meer weten?", about_path, class: "btn-bordered", method: :get %>
		</div>
</section>
