<section id="advantages">
		<h2>Waarom LinkingLaw?</h2>
		<!-- p>Bent u een (startende) ondernemer en heeft u een juridische vraag die u graag beantwoord wilt hebben zonder dat u daar direct een rekening voor gepresenteerd krijgt? LinkingLaw gelooft dat goed juridisch advies niet altijd geld hoeft te kosten.</p>
		<div id="advantages_container">
		<h3>Alle voordelen op een rijtje:</h3-->
		<div class="col">
		  <ul class="left-col">
			<li>Gratis juridische vragen</li>
			<li>Reviews van andere ondernemers bekijken</li>
			<li>Binnen 48 uur antwoord</li>
		  </ul>
		</div><div class="col bordered-left">
		  <ul class="right-col">
			<li>Toegang tot profielen van professionals</li>
			<li>Uw privacy wordt gerespecteerd</li>
			<li>Besparen op uw bedrijfskosten</li>
		  </ul>
		</div>
		<div  class="centered margin-top-65">
		  <%= link_to "Meer weten?", about_path, id: "tell-me-more" %>
		</div>
</section>
