<section id="linkinglaw_advantages">
		<h2>Waarom LinkingLaw?</h2>
		<!-- p>Bent u een (startende) ondernemer en heeft u een juridische vraag die u graag beantwoord wilt hebben zonder dat u daar direct een rekening voor gepresenteerd krijgt? LinkingLaw gelooft dat goed juridisch advies niet altijd geld hoeft te kosten.</p>
		<div id="advantages_container">
		<h3>Alle voordelen op een rijtje:</h3-->
		<ul>
			<li>
			   Gratis vragen stellen aan juridische professionals</li>
			<li>
			Binnen 48 uur antwoord van meerdere professsionals</li>
			<li>
			Toegang tot online-profielen van juridische professionals</li>
		</ul><ul>
			<li>Online-profielen en reviews van andere ondernemers bekijken</li>
			<li>Besparen op uw bedrijfskosten</li>
			<li>Onze professionals beschikken over een geldige KvK-inschrijving</li>
		</ul>
		</div>
</section>
