<section id="how_it_works">
<h2>Hoe werkt het?</h2>
<p class="title-hint">Het LinkingLaw proces werkt snel en eenvoudig</p>
<ul>
	<li>
	  <%= image_tag "how_it_works/question.svg", class: "process-icon" %>
	<article>
		<h3>Stel een vraag</h3>
		<div class="ruler"></div>
		<p>Stel gratis en geheel vrijblijvend een juridische vraag. Alle vragen, eenvoudig of complex, kunt u plaatsen.</p>
	</article>
</li><li>
        <%= image_tag "how_it_works/reply.svg", class: "process-icon" %>
	<article>
		<h3>Ontvang antwoord</h3>
		<div class="ruler"></div>
		<p>Na het plaatsen van uw vraag ontvangt u binnen 48 uur van meestal verschillende professionals een antwoord.</p>
	</article>
</li><li>	
        <%= image_tag "how_it_works/star.svg", class: "process-icon" %>
	<article>
		<h3>Schrijf een review</h3>
		<div class="ruler"></div>
		<p>Kunt u verder? Laat dan een review achter voor de professional. Zo helpt u andere gebruikers een goed beeld te krijgen van de professional.</p>
	</article>
</li><li>	
        <%= image_tag "how_it_works/businessman.svg", class: "process-icon" %>
	<article>
		<h3>Zoek een professional</h3>
		<div class="ruler"></div>
		<p>Behoefte aan meer hulp? Zoek aan de hand van de online-profielen en reviews van andere gebruikers de professional die het beste bij u past.</p>
	</article>
</li>
</ul>
</section>
