<section id="home-intro">
	<h1 class="bottom50">H&#233;t online-platform dat ondernemers en juridische professionals verbindt</h1>
	<p class="minor-intro-text centered bottom70">Stel gratis vragen aan ervaren juridische professionals of huur een professional in voor een specifieke juridische dienst</p>
	<div class="centered bottom80">
            <%= link_to 'Plaats een vraag', new_question_path, class: "btn-blue" %>
	</div>
	<div class="centered bottom60">
	    <%= link_to 'Zoek een juridische professional', new_question_path, class: "btn-brown" %>
	</div>
</section>
