<section id="home-intro">
	<h1 class="bottom50">H&#233;t online-platform dat ondernemers en juridische professionals verbindt</h1>
	<p class="minor-intro-text centered bottom70">Stel gratis vragen aan ervaren juridische professionals of huur een professional in voor een specifieke juridische dienst</p>
	<div class="centered bottom80">
            <a class="btn-blue">Plaats gratis een vraag</a>
	</div>
	<div class="centered bottom60">
	    <a class="btn-brown">Zoek een juridische professional</a>
	</div>
</section>
