<section id="intro_header">
	<h1>LinkingLaw is een online platform dat juridische professionals en potenti&#235;le gebruikers van juridische diensten verbindt</h1>
	<p class="minor-intro-text">Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla?</p>
	<p class="major-intro-text">Urna, id volutpat lacus laoreet non curabitur!</p>
        <%= link_to 'Stel een gratis vraag', new_question_path, class: "button-big" %>
</section>
