<section id="recommandations">
  <h2 class="bottom20">Wat vinden andere ondernemers?</h2>
  <div class="gallery bottom30">
    <div class="items-container">
      <div class="gallery-item">
	<div class="avatar-container">
	  <%= image_tag "recommandations/avatar/elinde_kersbergen.jpg", class: "avatar" %>
	</div>
       <div class="recommandation-container">
	  		<div class="vcenter">
	    		<p class="recommandation bottom10">
Als eigenaar van een pas opgestarte onderneming zou ik het geweldig vinden als ik via LinkingLaw gratis juridisch advies kan inwinnen. Als startende ondernemer heb je immers al zoveel andere kosten.
	    		</p>
	    		<p class="recommandation-author">Elinde Kersbergen - eigenaar Aniata Design</p>
	   		</div>
           </div>
       </div>
    </div> 
    <div class="items-container">
      <div class="gallery-item">
	<div class="avatar-container">
	  <%= image_tag "recommandations/avatar/joel_marques_branco.jpg", class: "avatar" %>
	</div>
       <div class="recommandation-container">
	  		<div class="vcenter">
	    		<p class="recommandation bottom10">
Geweldig initiatief waar ik als jonge ondernemer zeker gebruik van ga maken. Ga zo door mensen!
	    		</p>
	    		<p class="recommandation-author">Jo&#235;l Branco - eigenaar Administratiekantoor Branco Financial Services</p>
	   		</div>
      	</div>
      </div>
    </div>
    <div class="items-container">
      <div class="gallery-item">
	<div class="avatar-container">
	  <%= image_tag "recommandations/avatar/yme_sake_boonstra.jpg", class: "avatar" %>
	</div>
       <div class="recommandation-container">
	  		<div class="vcenter">
	    		<p class="recommandation bottom10">
					Fijn dat er straks een onafhankelijke website is waar ik op basis van profielen en recensies van andere gebruikers kan zoeken naar een advocaat of jurist met de juiste expertise voor onze business
	    		</p>
	    		<p class="recommandation-author">Yme Sake Boonstra - eigenaar The DJ-Company</p>
	   		</div>
      	</div>
       </div>
    </div>
   </div>
   <div class="item-position-indicator">
	<div class="item-position"></div>
	<div></div>
	<div></div>
    </div>
</section>
