<section id="recommandations">
  <h2 class="bottom30">Lorem ipsum</h2>
  <div class="gallery bottom30">
    <div class="items-container">
      <div class="gallery-item">
	<p class="bottom10">Condimentum vitae sapien pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas sed tempus, urna et pharetra! Pretium lectus quam id leo in vitae turpis massa.
	</p>
	<div class="opinion-origin">
	  <%= image_tag "us/elkana.jpg", class: "avatar" %>
	  <span>Elinde Kersbergen - Eigenaar Aniata</span>
	  <%= image_tag "us/elkana.jpg", class: "opinion-img" %>
	</div>
      </div>
    </div>
    <div class="items-container">
      <div class="gallery-item">
	<p class="bottom10">Feugiat nibh sed pulvinar proin gravida hendrerit lectus a molestie lorem ipsum dolor sit amet, consectetur adipiscing elit? Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc, consequat?
	</p>
	<div class="opinion-origin">
	  <%= image_tag "us/elkana.jpg", class: "avatar" %>
	  <span>Elinde Kersbergen - Eigenaar Aniata</span>
	  <%= image_tag 'us/elkana.jpg', class: "opinion-img" %>
	</div>
      </div>
    </div>
  </div>
</section>
