<section id="recommandations">
<h2 class="bottom30">Lorem ipsum</h2>
<div id="gallery-recommandations" class="bottom30">
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png" %>
		</div>
        </div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png" %>
		</div>
	</div>
	<div class="items-container">
		<div class="gallery-item">
		    <%= image_tag "press/rabobank.png" %>
		</div>
	</div>
</div>
<article class="bottom60">
   <p class="centered">
Ut tellus elementum sagittis vitae et leo duis ut diam quam. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum, odio eu feugiat pretium!
   </p>
</article>
  <div class="centered">
    <a class="btn-brown" href="http://http://www.thenextentrepreneur.nl/">Stem hier</a>
  </div>
</section>
