<div id="home-content">
<input id="pageId" type="hidden" value="home">
<%= render 'intro' %>
<blockquote class="pink height150">
	  <p class="quote">"Bespaar kosten en stel gratis juridische vragen aan ervaren professionals"</p>
</blockquote>
<%= render 'advantages' %>
<%= render 'how_it_works' %>
<%= render 'press' %>
</div>
