<div id="home-content">
	<input id="pageid" type="hidden" value="home">
	<h1>LinkinLaw is een online platform dat juridische professionals en potentiele gebruikers van juridische diensten verbindt.</h1>
	<%= image_tag "team-background.png" %>
	<div class="horizontal-button-container">
	  <%= link_to 'Stel een vraag', place_path,id: "question", class: "button-big" %>
	  <%= link_to 'Zoek een juridisch professional', place_path,id: "search", class: "button-big" %>
	</div>
</div>
