<section id="how_it_works">
<h2>Hoe werkt het?</h2>
<p class="title-hint">Het LinkingLaw proces is snel en eenvoudig</p>
<ul>
	<li>
	  <%= image_tag "how_it_works/question.svg", class: "process-icon" %>
	<article>
		<h3>vraag</h3>
		<div class="ruler"></div>
		<p>Stel gratis en geheel vrijblijvend een juridische vraag. Alle vragen, eenvoudig of complex, kun je plaatsen.</p>
	</article>
</li><li>
        <%= image_tag "how_it_works/reply.svg", class: "process-icon" %>
	<article>
		<h3>antwoord</h3>
		<div class="ruler"></div>
		<p>Na het plaatsen van je vraag ontvang je binnen 48 uur van verschillende professionals een antwoord.</p>
	</article>
</li><li>	
        <%= image_tag "how_it_works/star.svg", class: "process-icon" %>
	<article>
		<h3>review</h3>
		<div class="ruler"></div>
		<p>Laat een review achter voor de professional. Zo help je andere gebruikers een goed beeld te krijgen van de professional.</p>
	</article>
</li><li>	
        <%= image_tag "how_it_works/businessman.svg", class: "process-icon" %>
	<article>
		<h3>professional</h3>
		<div class="ruler"></div>
		<p>Zoek aan de hand van de online-profielen en reviews van andere gebruikers de professional die het beste bij je past.</p>
	</article>
</li>
</ul>
</section>
