<section id="mission-statement">
<article>
	<h1>Onze Missie</h1>
	<p>LinkingLaw heeft als missie goed juridisch advies betaalbaar, transparant en voor iedereen toegankelijk te maken. LinkingLaw onderscheidt zich doordat zij alleen samenwerkt met ervaren juridische professionals. De mogelijkheid om een professional te beoordelen zorgt er bovendien voor dat de kwaliteit van de antwoorden gewaarborgd blijft. LinkingLaw is geen tussenpersoon. Aan de hand van de online-profielen en reviews van andere gebruikers kies je z&#233;lf een professional. Zo is het voor iedereen transparant! </p>
</article>
</section>
