<section class="register centered">
  <span class="text13">Ook gratis juridische vragen stellen?</span>
  <input name="" type="text" value="e-mail"/>
  <a class="btn-brown-small">Registreer</a>
</section>
