<section id="the-industry">
  <h2 class="bottom50">De markt</h2>
  <ul>
	<li class="centered"><%= image_tag 'the_industry/windmill.svg', class: 'windmill-icon bottom10' %> 
	<p class="centered text11">
	  De juridische markt in Nederland is de laatste jaren flink aan het groeien. In 2013 waren er meer dan 17.000 advocaten actief en zijn er meer dan 100.000 nieuwe bedrijven opgericht.
	</p>
	</li>
	<li>
	  <ul class="industry-facts">
		<li>
	    <%= image_tag 'the_industry/justice.svg', class: 'justice-icon' %> 
	    <div class="inline-block vert-ruler-1em"></div>
	    <span class="industry-figure">17.000+</span>
	    <div class="inline-block vert-ruler-1em"></div>
	    <div class="inline-block centered">
	      <span>Actieve</span><br/>
	      <span class="big-text">Advocaten in<br/>Nederland</span>
	    </div>
		</li><li>
	    <span class="industry-figure">100.000+</span>
	    <div class="inline-block vert-ruler-1em"></div>
	    <div class="inline-block centered">
	      <span>Nieuw opgerichte</span><br/>
	      <span class="big-text">Bedrijven in<br/>Nederland</span>
	    </div>
	    <div class="inline-block vert-ruler-1em"></div>
	    <%= image_tag 'the_industry/office.svg', class: 'people-icon' %> 
		</li>
	  </ul>
	</li>
	<li>
	  <p class="centered text11 bottom30">Hoe vindt u tussen dit aanbod een juridische professional voor uw vraag of opdracht?</p>
	  <p class="centered text11 bottom50">LinkingLaw helpt u de juist keuze te maken!</p>
	</li>
   </ul>
</section>
