<section id="the-industry">
  <h2>De markt</h2>
  <ul>
	<li class="centered"><%= image_tag 'the_industry/windmill.svg', class: 'windmill-icon' %> 
	<p>Posuere lorem ipsum dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Faucibus ornare suspendisse sed nisi lacus, sed viverra tellus in hac habitasse platea.</p>
	</li>
	<li>
	  <ul class="industry-facts">
		<li>
	    <%= image_tag 'the_industry/justice.svg', class: 'justice-icon' %> 
	    <div class="inline-block vert-ruler-1em"></div>
	    <span class="industry-figure">446.837</span>
	    <div class="inline-block vert-ruler-1em"></div>
	    <div class="inline-block centered">
	      <span>Actieve</span><br/>
	      <span class="big-text">Advocaten in<br/>Nederland</span>
	    </div>
		</li><li>
	    <span class="industry-figure">446.837</span>
	    <div class="inline-block vert-ruler-1em"></div>
	    <div class="inline-block centered">
	      <span>Actieve</span><br/>
	      <span class="big-text">Advocaten in<br/>Nederland</span>
	    </div>
	    <div class="inline-block vert-ruler-1em"></div>
	    <%= image_tag 'the_industry/book.svg', class: 'justice-icon' %> 
		</li>
	  </ul>
	</li>
	<li>
	<p class="centered">Sed vulputate mi sit amet mauris commodo quis imperdiet massa? Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur?</p>
	</li>
   </ul>
</section>
