<section id="us">
  <h2>Wie zijn wij?</h2>
  <ul>
	<li>
	<div class="personal-info">
	  <div class="passphoto-wrap">
	    <%= image_tag 'us/elkana.jpg' %>
	    <div class="passphoto-overlay"></div>
	  </div>
    	  <h3>Elkana Mirino</h3>
	  <p>Oprichter en eigenaar</p>
	</div>
	</li><li>
	  <div class="personal-info">
	    <div class="passphoto-wrap">
	      <%= image_tag 'us/ik.jpg' %>
	      <div class="passphoto-overlay"></div>
	    </div>
            <h3>Rienk Boonstra</h3>
            <p>Web developer</p>
	  </div>
	</li>
  </ul>
</section>
