<section id="us">
  <h2 class="bottom5">Even voorstellen</h2>
  <table id="owner-info">
	<tr>
		<td>
		  <%= image_tag "us/elkana_mirino.jpg" %>
		</td>
		<td>
		  <p>
LinkingLaw is een initiatief van Elkana Mirino (1981). Elkana heeft Nederlands recht gestudeerd aan de Vrije Universiteit te Amsterdam en is na haar studie gaan werken als bedrijfsjurist. Met LinkingLaw wil zij ondernemers de mogelijkheid bieden om te besparen op hun juridische kosten, zodat zij meer geld en tijd overhouden voor datgene wat ondernemers uiteindelijk het allerliefste doen: ondernemen! LinkingLaw is opgericht in 2014 en momenteel gevestigd in Amsterdam.          		  </p>
		</td>
	</tr> 
  </table>
</section>
