<section id="us">
  <h2 class="bottom30">Even voorstellen</h2>
  <div id="us-container">
    <div class="avatar-container">
      <%= image_tag "recommandations/avatar/elinde_kersbergen.jpg", class: "avatar" %>
    </div>
    <div class="recommandation-container">
      <div class="vcenter">
        <p class="recommandation bottom10">Als eigenaar van een pas opgestarte onderneming zou ik het geweldig vinden als ik via LinkingLaw gratis juridisch advies kan inwinnen. Als startende ondernemer heb je immers al zoveel andere kosten.
       </p>
       <p class="recommandation-author">Elinde Kersbergen - eigenaar Aniata Design
       </p>
     </div>
  </div>
  </div>
</section>
