<section id="us">
  <h2 class="bottom30">Even voorstellen</h2>
  <ul>
	<li>
	<div class="personal-info">
	  <div class="passphoto-wrap bottom10">
	    <%= image_tag 'us/elkana_2.jpg' %>
	    <div class="passphoto-overlay"></div>
	  </div>
    	  <h3>Elkana Mirino</h3>
	  <p>Oprichter</p>
	</div>
	</li><li>
	  <!--div class="personal-info">
	    <div class="passphoto-wrap">
	      <div class="passphoto-overlay"></div>
	    </div>
            <h3>Rienk Boonstra</h3>
            <p>Web developer</p-->
	<p>LinkingLaw is een initiatief van Elkana Mirino (1981). Elkana heeft Nederlands recht gestudeerd aan de Vrije Universiteit te Amsterdam en is na haar studie gaan werken als bedrijfsjurist. Als jurist vielen haar twee dingen op: enerzijds zijn ondernemers ¡V al dan niet gedwongen door de crisis ¡V de laatste jaren  steeds kostenbewuster geworden en anderzijds zijn er in Nederland veel (kleine) juridische dienstverleners actief, die kwalitatief uitstekend juridisch werk leveren, maar vaak moeite hebben om door potentiele klanten gevonden te worden. Het doel van LinkingLaw is om deze twee partijen op basis van hun eigen voorkeur bij elkaar te brengen!</p>
	  </div>
	</li>
  </ul>
</section>
