<section id="us">
  <h2 class="bottom30">Even voorstellen</h2>
  <ul>
	<li>
	<div class="personal-info">
	  <div class="passphoto-wrap bottom10">
	    <%= image_tag 'us/elkana_2.jpg' %>
	    <div class="passphoto-overlay"></div>
	  </div>
    	  <h3>Elkana Mirino</h3>
	  <p>Oprichter</p>
	</div>
	</li><li>
	  <!--div class="personal-info">
	    <div class="passphoto-wrap">
	      <div class="passphoto-overlay"></div>
	    </div>
            <h3>Rienk Boonstra</h3>
            <p>Web developer</p-->
	<p>Elkana(33) heeft Nederlands recht gestudeerd aan de Vrije Universiteit te Amsterdam en is na haar studie gaan werken als bedrijfsjurist. Met LinkingLaw wil zij ondernemers de mogelijkheid bieden om gratis juridisch advies in te winnen, zodat zij meer geld en tijd overhouden voor hun core-business.</p>
	  </div>
	</li>
  </ul>
</section>
