<svg id="svg-source" height="0" version="1.1" 
  xmlns="http://www.w3.org/2000/svg" style="position:absolute; margin-left: -100%" 
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="question" data-iconmelon="Dripicons:72ae2deecdce184098cc98a11df4a02c">
    <g>
      <path d="M15.873,5.96c-5.392,0-6.572,3.971-6.572,5.501c0,0.811,0.657,1.478,1.468,1.478c0.811,0,1.468-0.647,1.468-1.458
		c0.018-0.605,0.332-2.585,3.637-2.585c1.623,0,2.822,0.425,3.563,1.26c0.915,1.03,0.866,2.362,0.803,2.887
		c-0.188,1.559-1.054,2.35-2.575,2.35c-2.694,0-3.259,1.47-3.259,2.703v1.236c0,0.811,0.657,1.468,1.468,1.468
		c0.811,0,1.468-0.657,1.468-1.468v-0.993c0.085-0.006,0.192-0.011,0.323-0.011c2.367,0,5.053-1.296,5.49-4.936
		c0.233-1.941-0.321-3.831-1.522-5.185C20.723,7.182,18.986,5.96,15.873,5.96z"></path>
      <path d="M15.873,22.251c-0.484,0-0.958,0.198-1.299,0.54c-0.341,0.341-0.536,0.814-0.536,1.298c0,0.481,0.194,0.955,0.536,1.296
		c0.345,0.342,0.818,0.539,1.299,0.539s0.954-0.197,1.299-0.539c0.342-0.341,0.536-0.814,0.536-1.296
		c0-0.483-0.194-0.957-0.536-1.298C16.827,22.449,16.357,22.251,15.873,22.251z"></path>
      <path d="M16,0C7.178,0,0,7.178,0,16s7.178,16,16,16s16-7.178,16-16S24.822,0,16,0z M16,29.064C8.796,29.064,2.936,23.203,2.936,16
		C2.936,8.796,8.796,2.936,16,2.936S29.064,8.796,29.064,16C29.064,23.203,23.204,29.064,16,29.064z"></path>
    </g>
  </g>
  <g id="like" data-iconmelon="Dripicons:c2f91e9200879ade2db90e9a3e07f0e6">
    <g>
      <path d="M31.555,16.246c-0.248-1.705-1.514-3.078-3.388-3.673c-0.992-0.315-2.674-0.735-4.042-1.062
		c2.509-3.592,3.003-7.304,2.069-9.428C25.613,0.76,24.512,0,23.175,0c-2.584,0-3.259,2.164-3.751,3.743
		c-0.073,0.234-0.148,0.477-0.231,0.723c-0.458,1.36-2.752,3.816-6.103,5.685c-2.508,1.398-4.91,3.311-5.011,3.391
		c-0.334,0.268-0.53,0.674-0.53,1.102v13.58c0,0.453,0.218,0.879,0.586,1.144C10.153,30.82,17.271,32,20.847,32
		c1.86,0,2.592-0.293,2.981-0.512c1.605-0.908,3.741-6.047,5.302-10.37C30.93,19.755,31.81,18,31.555,16.246z M27.16,19.062
		c-0.248,0.168-0.435,0.411-0.536,0.693c-1.397,3.91-3.399,8.518-4.205,9.282c-0.119,0.038-0.536,0.143-1.572,0.143
		c-3.341,0-8.529-0.996-10.479-1.8V15.335c0.814-0.615,2.452-1.806,4.094-2.722c3.655-2.039,6.63-4.952,7.402-7.25
		c0.089-0.266,0.171-0.527,0.25-0.78c0.55-1.764,0.689-1.764,1.06-1.764c0.099,0,0.264,0,0.438,0.398
		c0.605,1.379,0.066,4.837-3.03,8.207c-0.34,0.371-0.458,0.896-0.307,1.376c0.151,0.479,0.546,0.843,1.038,0.953
		c0.042,0.01,4.275,0.957,5.998,1.506c0.821,0.261,1.364,0.781,1.452,1.392C28.876,17.416,28.291,18.296,27.16,19.062z"></path>
      <path d="M2.692,12.189c-1.265,0-2.291,1.025-2.291,2.291v13.861c0,1.265,1.026,2.291,2.291,2.291s2.291-1.026,2.291-2.291V14.48
		C4.983,13.215,3.958,12.189,2.692,12.189z"></path>
    </g>
  </g>
  <g id="reply" data-iconmelon="Dripicons:5a43f0321621460e7c4c9a0025766a3c">
    <g>
      <path d="M15.387,25.535c0.329,0.329,0.826,0.428,1.255,0.25c0.43-0.178,0.711-0.598,0.711-1.063v-4.007
		c0.289-0.011,0.631-0.02,1.012-0.02c3.308,0,9.198,0.598,11.484,4.599c0.208,0.365,0.594,0.58,1,0.58
		c0.097,0,0.196-0.012,0.293-0.038c0.504-0.133,0.856-0.588,0.858-1.109c0.001-0.218-0.025-5.384-3.928-9.302
		c-2.571-2.581-6.173-3.986-10.719-4.187V7.279c0-0.466-0.281-0.885-0.711-1.063c-0.43-0.179-0.926-0.08-1.255,0.25l-8.721,8.721
		c-0.388,0.388-0.448,0.997-0.143,1.454c0.046,0.068,0.098,0.13,0.155,0.186C7.026,17.175,15.387,25.535,15.387,25.535z M9.108,16
		l5.942-5.941v2.305c0,0.636,0.515,1.151,1.151,1.151c8.409,0,11.579,4.282,12.774,7.556c-3.294-2.267-7.782-2.68-10.61-2.68
		c-1.357,0-2.252,0.097-2.289,0.101c-0.584,0.064-1.026,0.557-1.026,1.145v2.305L9.108,16z"></path>
      <path d="M2.775,16L2.775,16L2.775,16l7.907-7.907c0.45-0.45,0.45-1.179,0-1.628c-0.449-0.45-1.179-0.45-1.628,0l-8.721,8.721
		C0.111,15.408,0,15.703,0,16c0,0.297,0.111,0.592,0.333,0.814l8.721,8.721c0.45,0.449,1.179,0.449,1.628,0
		c0.45-0.45,0.45-1.179,0-1.628L2.775,16z"></path>
    </g>
  </g>
  <g id="user" data-iconmelon="Dripicons:778fc246ecdf87f79a9036c550c2b287">
    <g>
      <path d="M16,19.861c5.169,0,9.374-4.205,9.374-9.374S21.169,1.113,16,1.113s-9.374,4.205-9.374,9.374S10.831,19.861,16,19.861z
		 M16,3.933c3.614,0,6.555,2.94,6.555,6.555s-2.94,6.555-6.555,6.555s-6.555-2.94-6.555-6.555S12.386,3.933,16,3.933z"></path>
      <path d="M20.334,20.722c-0.461-0.146-0.967-0.046-1.337,0.268L16,23.524l-2.998-2.535c-0.37-0.313-0.876-0.414-1.337-0.268
		C9.718,21.34,0,24.667,0,29.478c0,0.778,0.631,1.409,1.41,1.409H30.59c0.778,0,1.41-0.631,1.41-1.409
		C32,24.667,22.282,21.34,20.334,20.722z M3.583,28.067c1.548-1.594,5.17-3.362,8.203-4.415l3.304,2.795
		c0.525,0.444,1.295,0.444,1.82,0l3.304-2.795c3.033,1.053,6.655,2.821,8.203,4.415H3.583z"></path>
    </g>
  </g>

</svg>
<div id="about-content">
<input id="pageId" type="hidden" value="about">
<section id="mission-statement">
<article>
	<h1>Onze Missie</h1>
	<p>LinkingLaw heeft als missie goed juridisch advies betaalbaar, transparant en voor iedereen toegankelijk te maken. LinkingLaw onderscheidt zich doordat zij alleen samenwerkt met ervaren juridische professionals. De mogelijkheid om een professional te beoordelen zorgt er bovendien voor dat de kwaliteit van de antwoorden gewaarborgd blijft. LinkingLaw is geen tussenpersoon. Aan de hand van de online-profielen en reviews van andere gebruikers kies je z&#233;lf een professional. Zo is het voor iedereen transparant! </p>
</article>
</section>
<section id="how_it_works">
<ul>
	<li>
	  <div class="iconmelon">
	    <svg viewBox="0 0 32 32">
	      <use xlink:href="#question"></use>
	    </svg>
	  </div>
	<article>
		<h2>vraag</h2>
		<div class="ruler"></div>
		<p>Stel gratis en geheel vrijblijvend een juridische vraag. Alle vragen, eenvoudig of complex, kun je plaatsen.</p>
	</article>
</li><li>
	  <div class="iconmelon">
	    <svg viewBox="0 0 32 32">
	      <use xlink:href="#reply"></use>
	    </svg>
	  </div>
	<article>
		<h2>antwoord</h2>
		<div class="ruler"></div>
		<p>Na het plaatsen van je vraag ontvang je binnen 48 uur van verschillende professionals een antwoord.</p>
	</article>
</li><li>	
	  <div class="iconmelon">
	    <svg viewBox="0 0 32 32">
	      <use xlink:href="#like"></use>
	    </svg>
	  </div>
	<article>
		<h2>review</h2>
		<div class="ruler"></div>
		<p>Laat een review achter voor de professional. Zo help je andere gebruikers een goed beeld te krijgen van de professional.</p>
	</article>
</li><li>	
	  <div class="iconmelon">
	    <svg viewBox="0 0 32 32">
	      <use xlink:href="#user"></use>
	    </svg>
	  </div>
	<article>
		<h2>professional</h2>
		<div class="ruler"></div>
		<p>Zoek aan de hand van de online-profielen en reviews van andere gebruikers de professional die het beste bij je past.</p>
	</article>
</li>
</ul>
</section>
</div>
