<div id="about-content">
  <input id="pageId" type="hidden" value="about">
  <%= render 'our_mission' %>
  <%= render 'register' %>
  <%= render 'the_industry' %>
  <div class="grey-ruler"></div>
  <%= render 'us' %>
</div>
