<div id="about-content">
<input id="pageId" type="hidden" value="about">
      <%= render 'our_mission' %>
      <blockquote class="baby-blue height150">
	  <p class="quote">"Omdat elke ondernemer recht heeft op goed juridisch advies"</p>
      </blockquote>
      <%= render 'the_industry' %>
      <!-- %= render 'us' %-->
</div>
