<div id="about-content">
<input id="pageId" type="hidden" value="about">
<div class="grid">
	
		<section class="col-3-1">
			<h3>Over LinkingLaw</h3>
			<p>LinkingLaw is een online platform dat juridische professionals en potentiële gebruikers van juridische diensten verbindt. LinkingLaw heeft als doel om juridisch advies betaalbaar, transparant en voor iedereen toegankelijk te maken.</p>
		</section>
		
		<section class="col-3-1">
			<h3>Hoe werkt LinkingLaw?</h3>
			<p>Als gebruiker kun je gratis en geheel vrijblijvend een juridische vraag op LinkingLaw plaatsen.  Je ontvangt van verschillende professionals antwoord op jouw vraag. Ben je tevreden over het antwoord, laat dan een beoordeling achter voor de professional. Heb je meer hulp nodig? Neem dan vrijblijvend contact op met een professional naar keuze!</p>
		</section>
		
		
		<section class="col-3-1">
			<h3>Waarom LinkingLaw</h3>
			<h4><i>Voor gebruikers</i></h4>
			<ul>
				<li>ontvang snel betrouwbaar juridisch advies</li>
				<li>zoek een professional bij jou in de regio </li>
				<li>vind gratis antwoorden op jouw juridische vragen in de database</li>
				<li>vorm op basis van de reviews van andere gebruikers een betrouwbaar beeld van de kwaliteit van de juridische professionals</li>							
			</ul>
			<h4><i>Voor professionals</i></h4>
			<ul>
				<li>krijg toegang tot potentiële nieuwe cliënten, waaronder veelbelovende start-ups</li>
				<li>maak een gratis profiel aan waarop jouw expertise en reviews van gebruikers zichtbaar zijn</li>
				<li>vergroot je naamsbekendheid en bouw aan je (online-)reputatie</li>
      		</ul>

		</section>
		
	</div>
</div>