<div id="about-content">
<input id="pageId" type="hidden" value="about">
<section id="mission-statement">
<article>
	<h1>Onze missie</h1>
	<p>LinkingLaw heeft als missie goed juridisch advies betaalbaar, transparant en voor iedereen toegankelijk te maken. LinkingLaw onderscheidt zich doordat zij alleen samenwerkt met ervaren juridische professionals. De mogelijkheid om een professional te beoordelen zorgt er bovendien voor dat de kwaliteit van de antwoorden gewaarborgd blijft. LinkingLaw is geen tussenpersoon. Aan de hand van de online-profielen en reviews van andere gebruikers kies je z&#233;lf een professional. Zo is het voor iedereen transparant! </p>
</article>
</section>
<section id="how_it_works">
	<section>
	<h6>1</h6>
	<article>
		<h2>vraag</h2>
		<div class="ruler"></div>
		<p>Plaats gratis en geheel vrijblijvend een juridische vraag. Alle vragen, eenvoudig of complex, kun je plaatsen.</p>
	</article>
	</section>
	<section>
	<h6>2</h6>
	<article>
		<h2>antwoord</h2>
		<div class="ruler"></div>
		<p>Na het plaatsen van je vraag ontvang je binnen 48 uur van verschillende professionals een antwoord.</p>
	</article>
	</section>
	<section>
	<h6>3</h6>
	<article>
		<h2>review</h2>
		<div class="ruler"></div>
		<p>Laat dan een review achter voor de professional. Zo help je andere gebruikers een goed beeld te krijgen van de professional.</p>
	</article>
	</section>
	<section>
	<h6>4</h6>
	<article>
		<h2>professional</h2>
		<div class="ruler"></div>
		<p>Zoek aan de hand van de online-profielen en reviews van andere gebruikers de professional die het beste bij je past.</p>
	</article>
	</section>
</section>
<section id="contact_data">
</section>
</div>
