<div id="about-content">
<input id="pageId" type="hidden" value="about">
<section id="mission-statement">
<article>
	<h1>Onze missie</h1>
	<p>LinkingLaw heeft als missie goed juridisch advies betaalbaar, transparant en voor iedereen toegankelijk te maken. LinkingLaw onderscheidt zich doordat zij alleen samenwerkt met ervaren juridische professionals. De mogelijkheid om een professional te beoordelen zorgt er bovendien voor dat de kwaliteit van de antwoorden gewaarborgd blijft. LinkingLaw is geen tussenpersoon. Aan de hand van de online-profielen en reviews van andere gebruikers kies je z&#233;lf een professional. Zo blijft het voor iedereen transparant! </p>
</article>
</section>
<section id="how_it_works">
	<section>
	<h6>1</h6>
	<article>
		<h2>plaats een vraag</h2>
		<div class="ruler"></div>
		<p>Plaats gratis en geheel vrijblijvend een juridische vraag.</p>
	</article>
	</section>
	<section>
	<h6>2</h6>
	<article>
		<h2>ontvang antwoord</h2>
		<div class="ruler"></div>
		<p>Na het plaatsen van je vraag ontvang je van verschillende juridische professionals antwoord op jouw vraag.</p>
	</article>
	</section>
	<section>
	<h6>3</h6>
	<article>
		<h2>schrijf een review</h2>
		<div class="ruler"></div>
		<p>Kun je verder? Laat dan een review achter voor de juridische professional(s). Zo help je zowel de professional als toekomstige andere gebruikers om een goed beeld te krijgen van de professional.</p>
	</article>
	</section>
	<section>
	<h6>4</h6>
	<article>
		<h2>vind een professional</h2>
		<div class="ruler"></div>
		<p>Heb je behoefte aan meer hulp? Of wil je een professional inhuren? Zoek dan aan de hand van de profielen en de reviews van andere gebruikers naar de juridische professional die het beste bij je past.</p>
	</article>
	</section>
</section>
<section id="contact_data">
  <p>e-mail naar: info&#64;linkinglaw.nl</p>
</section>
</div>
