<svg id="svg-source" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute">
            <g id="phone" data-iconmelon="Dripicons:b5844de5a133517a62cf25fd8347a12d">
              <path d="M31.096,4.087c-0.024-0.024-0.049-0.048-0.074-0.07l-3.809-3.315c-0.476-0.452-1.119-0.7-1.817-0.7
	c-0.799,0-1.574,0.316-2.125,0.869c-0.04,0.039-0.077,0.082-0.112,0.125l-3.741,4.722c-0.993,1.069-0.971,2.748,0.069,3.79
	c0.069,0.068,0.145,0.13,0.226,0.185l1.884,1.253c-0.174,0.681-1.193,2.595-4.623,6.024c-3.403,3.403-5.337,4.436-6.027,4.62
	l-1.251-1.881c-0.054-0.081-0.116-0.156-0.185-0.225c-0.516-0.516-1.202-0.801-1.931-0.801c-0.696,0-1.352,0.26-1.859,0.73L1,23.153
	c-0.045,0.035-0.087,0.073-0.127,0.113c-1.098,1.1-1.167,2.889-0.166,3.941l3.315,3.809c0.022,0.026,0.045,0.051,0.069,0.075
	c0.603,0.603,1.527,0.907,2.746,0.907c0,0,0,0,0,0c3.886,0,10.799-2.979,16.493-8.673c3.26-3.261,5.902-7.208,7.438-11.112
	C31.486,10.39,32.955,5.946,31.096,4.087z M21.254,21.25c-5.39,5.39-11.675,7.813-14.417,7.813c-0.414,0-0.62-0.056-0.697-0.084
	l-3.17-3.642l4.548-3.603l1.214,1.824c0.025,0.038,0.052,0.074,0.081,0.11c0.462,0.571,1.15,0.887,1.938,0.887h0
	c1.849,0,4.641-1.854,8.297-5.513c3.751-3.751,5.604-6.595,5.507-8.452c-0.038-0.72-0.351-1.353-0.882-1.782
	c-0.036-0.029-0.072-0.057-0.11-0.082L21.74,7.514l3.603-4.548l3.646,3.174C29.563,7.42,27.743,14.761,21.254,21.25z"></path>
            </g>

            <g id="message" data-iconmelon="Dripicons:5eb3c3e3fd5f374b7457fc626b41c7e0">
              <path d="M31.997,8.048c-0.001-0.052-0.009-0.104-0.016-0.156c-0.005-0.037-0.008-0.075-0.016-0.111
	c-0.01-0.044-0.026-0.087-0.04-0.13c-0.014-0.042-0.025-0.084-0.043-0.124c-0.016-0.035-0.037-0.068-0.056-0.102
	c-0.024-0.045-0.048-0.09-0.077-0.132c-0.005-0.007-0.008-0.015-0.014-0.022c-0.019-0.025-0.042-0.045-0.062-0.069
	c-0.032-0.037-0.063-0.075-0.099-0.108c-0.032-0.03-0.066-0.056-0.1-0.083c-0.035-0.028-0.069-0.055-0.107-0.079
	c-0.037-0.024-0.076-0.043-0.115-0.062c-0.039-0.02-0.078-0.041-0.119-0.057c-0.041-0.016-0.084-0.027-0.126-0.039
	c-0.042-0.011-0.083-0.024-0.127-0.032c-0.048-0.009-0.098-0.012-0.146-0.015c-0.031-0.002-0.061-0.009-0.092-0.009H1.355
	c-0.031,0-0.06,0.007-0.091,0.009c-0.05,0.003-0.1,0.006-0.148,0.015C1.074,6.75,1.033,6.762,0.992,6.773
	c-0.043,0.012-0.087,0.024-0.129,0.04c-0.04,0.016-0.077,0.035-0.115,0.055c-0.041,0.02-0.081,0.04-0.119,0.064
	C0.593,6.956,0.56,6.982,0.525,7.008C0.49,7.036,0.455,7.062,0.422,7.094c-0.035,0.033-0.065,0.07-0.097,0.107
	c-0.021,0.024-0.044,0.044-0.062,0.07C0.257,7.278,0.254,7.286,0.249,7.293C0.22,7.335,0.196,7.38,0.172,7.425
	c-0.02,0.034-0.04,0.067-0.056,0.103c-0.018,0.04-0.029,0.082-0.043,0.124c-0.015,0.043-0.03,0.086-0.04,0.13
	c-0.008,0.036-0.01,0.074-0.016,0.111C0.011,7.944,0.003,7.996,0.002,8.048C0.002,8.057,0,8.065,0,8.074v15.853
	c0,0.749,0.606,1.356,1.355,1.356h29.288c0.749,0,1.356-0.607,1.356-1.356V8.074C32,8.065,31.997,8.057,31.997,8.048z M26.504,9.429
	l-10.505,7.71L5.495,9.429H26.504z M2.711,22.57V10.75l12.486,9.164c0.238,0.175,0.521,0.263,0.802,0.263
	c0.282,0,0.563-0.088,0.803-0.263l12.485-9.164v11.82H2.711z"></path>
            </g>
            <g id="info" data-iconmelon="Dripicons:9714327d3f7e3130274bd1b3f8bd4c52">
              <g>
                <path d="M18.143,21.74l-1.353,0.589l1.759-8.93c0.097-0.491-0.101-0.995-0.508-1.288c-0.406-0.294-0.946-0.324-1.383-0.079
		L13.4,13.867c-0.618,0.349-0.836,1.133-0.489,1.75c0.349,0.619,1.132,0.837,1.75,0.489l0.83-0.468l-1.694,8.599
		c-0.092,0.469,0.083,0.95,0.455,1.249c0.232,0.188,0.517,0.283,0.805,0.283c0.174,0,0.348-0.035,0.513-0.106l3.599-1.568
		c0.65-0.283,0.948-1.04,0.665-1.689C19.549,21.754,18.792,21.456,18.143,21.74z"></path>
                <path d="M17.29,9.635c0.484,0,0.954-0.195,1.295-0.536c0.341-0.341,0.539-0.814,0.539-1.299s-0.198-0.958-0.539-1.296
		c-0.342-0.342-0.815-0.539-1.295-0.539c-0.485,0-0.958,0.197-1.299,0.539c-0.341,0.338-0.536,0.812-0.536,1.296
		s0.194,0.958,0.536,1.299S16.805,9.635,17.29,9.635z"></path>
                <path d="M16,0C7.178,0,0,7.178,0,16s7.178,16,16,16s16-7.178,16-16S24.822,0,16,0z M16,29.064C8.796,29.064,2.936,23.203,2.936,16
		C2.936,8.796,8.796,2.936,16,2.936S29.064,8.796,29.064,16C29.064,23.203,23.204,29.064,16,29.064z"></path>
              </g>

</svg> 
<address>
	<p>Admiraal de Ruijterweg 304 II</p>
	<p>Amsterdam</p>
	<p>+31 6 50 60 78 67</p>
</address>
<article>
	<h2>Algemene informatie</h2>
	<p>Heb je een vraag of opmerking? Stuur dan een e-mail of maak gebruik van het contactformulier. Wij helpen je graag verder!</p>
	<p>
	  <a href="">info@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Samenwerken</h2>
	<p>Ben je een juridisch professional met een geldige inschrijving bij de KvK en heb je interesse om samen te werken? Neem dan contact met ons op! Wij nemen graag de verschillende mogelijkheden met je door.</p>
	<p>
	    <a href="">samenwerken@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Vacatures/Stage</h2>
	<p>Wij zijn een snel groeiende young start-up waar altijd ruimte is voor leergierige vriendelijke stagiairs met affiniteit voor IT en/of marketing. Ben je ge&#239;nteresseerd? Stuur dan je CV en overtuig ons waarom jij van toegevoegde waarde kunt zijn.</p>
	<p>
	  <a href="">stage@linkinglaw.com</a>
	</p>
</article>
<article>
	<h2>Media/Pers</h2>
	<p>Ben je ge&#239;nteresseerd in het verhaal achter LinkingLaw? Wij vertellen je graag wat onze drijfveer is en hoe het idee achter ons bedrijf is ontstaan. Mail ons voor een afspraak.</p>
	<p>
           <a href="">media@linkinglaw.com</a>
	</p>
</article>
<ul><li>
                <div class="social_media_icon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#phone"></use>
                    </g>
                  </svg>
                </div>
	</li><li>
                <div class="social_media_icon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#message"></use>
                    </g>
                  </svg>
                </div>
	</li><li>
                <div class="social_media_icon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#info"></use>
                    </g>
                  </svg>
                </div>
	</li></ul>
