<ul>
	<li>
	    <%= image_tag 'contact/social_media/handset.svg', class: 'social-media-icon' %>
	    +31 6 5060 7867
	</li>
	<li>
	    <%= image_tag 'contact/social_media/letter.svg', class: 'social-media-icon' %>
	    info@linkinglaw.nl
	</li>
	<li>
	    <%= image_tag 'contact/social_media/twitter.svg', class: 'social-media-icon' %>
	    @linkinglaw
	</li>
	<li>
	    <%= image_tag 'contact/social_media/facebook.svg', class: 'social-media-icon' %>
	    facebook.com/linkinglaw
	</li>
</ul>
