<input id="pageId" type="hidden" value="contact">
<section id="contact_channels">
  <%= render 'form' %>
  <%= render 'social_media' %>
</section>
<section id="map_canvas"></section>
<section id="contact_info"> 
  <%= render 'info' %>
</section>

