<input id="pageId" type="hidden" value="contact">
<section id="contact-intro">
	<h1 class="bottom50">Hoe kunnen wij u helpen?</h1>
	<p class="text13 centered bottom30">Hebt u vragen, opmerkingen of suggesties? Laat het ons weten!</p>
	<p class="major-intro-text bottom80">Bel ons, stuur een bericht of kom langs bij ons kantoor in Amsterdam.</p>
	<div class="centered bottom80">
	  <a class="btn-brown" href="#map_offset">Locatie</a>
	</div>
</section>
<section id="contact-channels">
<h2 class="bottom30">Contact</h2>
<p>Stuur een bericht. Wij nemen zo spoedig mogelijk contact met u op.</p>
<div>
  <%= render 'form' %>
</div><div>
  <%= render 'social_media' %>
</div>
</section>
<blockquote class="bg-black">
  <span>Of kom langs voor een lekkere kop koffie</span>
</blockquote>
<span class="anchor" id="map_offset"></span>
<section id="map"></section>

