<input id="pageId" type="hidden" value="contact">
<section id="location_info">
	<h1>Hoe kunnen wij u helpen?</h1>
	<p class="minor-intro-text">Hebt u vragen, opmerkingen of suggesties? Laat het ons weten!</p>
	<p class="major-intro-text">Bel ons, stuur een bericht of kom langs bij ons kantoor in Amsterdam.</p>
    <!--h4>Amsterdam</h4>
    office
    <div class="address_separator"></div>
    <address>
      LinkingLaw B.V.<br>
      Admiraal de Ruijterweg 304 II<br>
      1055 MT Amsterdam<br>
    </address>
    <div class="link_container">
      <a href="#">Google maps</a>
    </div-->
</section>
<section id="contact_channels">
<h2>Contact</h2>
<p>Stuur een bericht. Wij nemen zo spoedig mogelijk contact met u op.
</p>
<div>
  <%= render 'form' %>
</div><div>
  <%= render 'social_media' %>
</div>
</section>
<!--section id="map"></section-->
<!--section id="contact_info"> 
  <%= render 'info' %>
</section-->

