<input id="pageId" type="hidden" value="contact">
<section id="location_info">
	<h1>Hoe kunnen wij u helpen?</h1>
	<p class="minor-intro-text">Hebt u vragen, opmerkingen of suggesties? Laat het ons weten!</p>
	<p class="major-intro-text">Bel ons, stuur een bericht of kom langs bij ons kantoor in Amsterdam.</p>
	<div class="button-container">
	  <a class="button-x" href="#map_offset">Locatie</a>
	</div>
</section>
<section id="contact_channels">
<h2>Contact</h2>
<p>Stuur een bericht. Wij nemen zo spoedig mogelijk contact met u op.
</p>
<div>
  <%= render 'form' %>
</div><div>
  <%= render 'social_media' %>
</div>
</section>
<span class="anchor" id="map_offset"></span>
<section id="map"></section>
<!--section id="contact_info"> 
  <%= render 'info' %>
</section-->

