<input id="pageId" type="hidden" value="contact">
<section id="location_info">
  <div id="map"></div>
  <div id="address_info">
    <h4>Amsterdam</h4>
    office
    <div class="address_separator"></div>
    <address>
      LinkingLaw B.V.<br>
      Admiraal de Ruijterweg 304 II<br>
      1055 MT Amsterdam<br>
    </address>
    <div class="link_container">
      <a href="#">Google maps</a>
    </div>
  </div>
</section>
<section id="contact_channels">
<h2>Contact</h2>
<h3>Heeft u vragen, opmerkingen of suggesties? Laat het ons weten!
</h3>
<div>
  <%= render 'form' %>
</div><div>
  <%= render 'social_media' %>
</div>
</section>
<!--section id="contact_info"> 
  <%= render 'info' %>
</section-->

