<input id="pageId" type="hidden" value="contact">
<!--section id="map_canvas"></section-->
<section id="contact_channels">
<h2>Contact</h2>
<h3>Heeft u vragen, opmerkingen of suggesties? Laat het ons weten!
</h3>
<div>
  <%= render 'form' %>
</div><div>
  <%= render 'social_media' %>
</div>
</section>
<!--section id="contact_info"> 
  <%= render 'info' %>
</section-->

