// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mission-statement {
       height:400px;
       background-image:image-url('save_money.jpg');
       background-repeat:no-repeat;
       background-size:100% auto;
       background-position:0 -100px;
       color:#fff;
       padding:4% 10%;
       h1 {
       	  width:100%;
	  text-transform:uppercase;
	  font-weight:bold;
	  font-size:1.7em;
	  padding:0 0 1em 0;
       }
       p {
          font-size:1.1em;
       	  line-height:1.6em;
	  width:100%;
       }
}

#how_it_works {
	      margin-bottom:0 !important;
	      background-color:#709bb2;
	      color:#fff;
	      padding:2% 2%;
	      .process-icon {
	      		     width:25%;	
			     margin:2em 0;	     
	      }
	      h2 {
	      	 color:#fff;
		 margin:0;
		 padding:0;
	      } 
	      .title-hint {
	      		  font-size:1.1em;
	      }
	      ul li {
	       	 display:inline-block;
	         width:25%;
		 vertical-align:top;
		 text-align:center;
	      }
	      h3 {
                text-align:center;
   	      	font-size:1.5em;
		text-transform:capitalize;
	      }
	      .ruler {
	         width:40%;
		 margin-top:1.5em;
		 margin-left:auto;
		 margin-right:auto;
		 height:2px;
		 background-color:#ECF0F1;	      
	      }
	      p {
	      	margin-top:1.5em;
	      	padding:0 1.8em;
		line-height:1.7em;
		text-align:center;
	      }
}      

#contact_data {
       position:absolute;
       bottom:0;
       left:0;
       right:0;
       height:20%;
       background-color:#3A3A3A;
       border-bottom:8px solid #E8213E;
       margin-bottom:150px;
       top:800px;
}

.iconmelon {
	   margin-left:auto;
	   margin-right:auto;
	   margin-bottom:1.5em;
	   width:30%;
	   height:30%;
	   fill:#15425D;
}

#the-industry {
	      position:relative;
	      padding:2em 5%;
	      h2 {
	      	 color:#000;
	      }
	      .windmill-icon {
	      		     width:7%;
	      }
	      .justice-icon {
	      		    width:17%;
			    vertical-align:-1.1em;
	      }
	      .people-icon {
	      		   width:20%;
			    vertical-align:-1em;
	      }
	      .industry-figure {
	      		       font-size:3em;
			       vertical-align:0.1em;

	      }
	      .big-text {
	      		font-size:1.3em;
			font-weight:bold;
	      }
	      p {
	      	font-size:1.1em;
		width:45em;
		margin:0.5em auto;
		line-height:1.5em;
	      }
}

.inline-block {
	      display:inline-block;
}


.industry-facts>li:first-child {
			      text-align:right;
} 

.industry-facts li {
		display:inline-block;
		width:44%;
		padding:1.5em 3%;
}

.vert-ruler-1em {
	   font-size:1em;
	   width:1em;
}

#us {
    padding:2em 0;
    ul {
       vertical-align:top;
    }
    ul li {
       width:50%;
       display:inline-block;
       text-align:center;
    }
    .personal-info {
    		    position:relative;
    		    width:30%;
		    left:20%;
		    text-align:center;
		    h3 {
		       padding:1em 0 0.5em 0;
		    }
		    p {
		      font-size:0.8em;
		    }
    }
    ul li:first-child>div.personal-info {
			        position:relative;
				right:0;
				left:auto;
				margin-right:20%;
				margin-left:auto;
    }
    .passphoto-wrap {
    		    width:100%;
    }
    .passphoto-overlay {
    		       overflow:hidden;
		       padding:-5px;
    		       position:absolute;
		       top:0;
    		       width:100%;
		       height:100%;
//    		       background-color:#dfeaf2;
		       opacity:0;
		       border-radius:100%;
    }
    .passphoto-overlay:hover { 
    			     opacity:0.8;
    }   
    img {
    	width:100%;
    	border-radius:100%;
    }
}

.baby-blue {
      background-color:#709bb2;
}

.height150{
	height:150px;
}

.centered {
    	      text-align:center;
}

.quote {
       text-align:center;
       color:#fff;
       font-size:1.6em;
       line-height:150px;
}

.pink {
      background-color:#F0A08C;
}