@font-face
  font-family: Pacifico
  src: font-url('Pacifico.ttf') format('truetype')

.bg 
  background: no-repeat center center fixed
//  background-image: image-url('keyboard.jpg')
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

input[type="submit"] 
  margin-right: 5px

#logo
  color: white
  text-align: center
  font-family: Pacifico
  font-size: 6rem
  margin-top: 100px //todo: dit statisch afstan, dat moat al relatief wurde fansels
  a:visited
    text-decoration: none
    color: white
  a:hover
    text-decoration: none
    color: white
  
.full-width
  width: 100%
  
