// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas {
	    margin:4% 0;
	    width:100%;
	    height:450px;
}

#contact_channels {
              position:relative;
	      background-color:#3A70A4;
	      color:#ECF0F1;
	      width:100%;
	      form, ul {
		width:50%;
		input[type=submit] {
		   background-color:#E46A32;
		}
	      }
	      ul {
	        position:absolute;
		top:0;
		right:0;
		margin:6% 0;
		font-size:1.5em;
		line-height:3em;
		.social_media_icon {
		  display:inline-block;
		  margin-right:5%;
		  width:10%;
		  fill:#ECF0F1;
		  vertical-align:-1.2em;
		}
	      }
}