// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
   	 width:100%;
	 height:450px;
}

#location_info { 
	    width:100%;
	    color:#fff;
	    padding-bottom:10em;
	    background:image-url('contact/intro_background.jpg') no-repeat 0px 0px/cover;
}

.button-container {
		  text-align:center;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.button-x {
	  color:#fff ;
	  border-radius:7px;
	  font-size:1.5em;
	  line-height:2em;
	  text-align:center;
	  padding:0.5em 2em;
	  background-color:#bf6060;
}
.button-x:hover {
   	   background-color:#aa4040;
}

#contact_channels {
	      margin:50px 0;
	      padding-bottom:50px;
	      h2 {
	      	  line-height:2em;
	          color:#222;
		  padding:0.3em 0 0.3em;
	      }
	      p {
		       margin-left:5%;
		       padding-bottom:1em;
		       color:#222;
		       font-size:1.1em;
	      }
	      >div {
	          display:inline-block;
		  width:50%;
		  position:relative;
		  vertical-align:top;
	      }
	      input, textarea {
	      	     border:2px solid #222;
		     border-radius:7px;
	      }	      
	      width:100%;
	      form {
	        width:100%;
		input[type=submit] {
		   background-color:#fff;
		   color:#222;
		}
		input[type=submit]:hover {
					 background-color:#222;
					 color:#fff;
		}
		fieldset {
		    width:100%;
		    margin-left:10%;
		}
	      }
	      ul {
	        margin-left:15%;
	 	font-size:1.3em;
		line-height:3em;
		color:#222;
		.social-media-icon {
				   width:50px;
				   margin-right:15px;
				   vertical-align:-18px;
		}
	      }
}

.speech_bubble_small {
			background-color:#709bb2;
			color:#fff;		     
			padding:1em;
			font-size:1.4em;
			line-height:1.6em;
}

.speech_bubble_small:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 10%;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #709bb2 transparent;
	display: block;
	width: 0;
}

#visit-us {
	  background-image:image-url('contact/coffee.jpg');
	  background-position:0 -100px;
	  background-size:100% auto;
}

.height350 {
	   height:350px;
	   font-size:1.6em;
}

.height100 {
	   height:100px;
	   background-image:image-url('contact/navy_blue.png');
}