// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas {
	    margin:4% 0;
	    width:100%;
	    height:450px;
}

#contact_channels {
	      h2 {
	      	  line-height:2em;
	          color:#fff;
                  background-color:#3A70A4;
		  padding-bottom:0;
		  margin-bottom:50px;
	      }
	      h3 {
		       margin-left:5%;
		       padding-bottom:1em;
		       color:#255280;
		       font-size:1.1em;
	      }
	      >div {
	          display:inline-block;
		  width:50%;
		  position:relative;
		  vertical-align:top;
	      }
	      color:#ECF0F1;
	      width:100%;
	      form {
	        width:100%;
		input[type=submit] {
		   background-color:#E46A32;
		}
		fieldset {
		    width:100%;
		    margin-left:10%;
		}
	      }
	      ul {
	        margin-left:15%;
		font-size:1.3em;
		line-height:2.5em;
		color:#255280;
		.social_media_icon {
		  display:inline-block;
		  margin-right:15px;
		  width:50px;
		  fill:#3A70A4;
		  vertical-align:-18px;
		}
	      }
}