// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-content {
	section {
	   margin-bottom:50px;
	}
	#intro_header {
		     padding:4% 0 7%;
		     background:image-url('team-background.jpg') no-repeat;
		     background-size:100% auto;
		     color:#fff;
		     h1 {
	 	     	padding:0 10%;
	 	     	font-size:2.5em;
			font-weight:bold;
			line-height:1.2em;
			margin-bottom:2%;
			text-align:center;
		     }
         	      .minor-intro-text {
		         font-size:1.2em;
			 margin-bottom:4%;
			 margin-left:auto;
			 margin-right:auto;
			 width:50%;
			 text-align:center;
		      }
		      .major-intro-text {
		          font-size:1.5em;
			  margin-bottom:3%;
			  width:100%;
			  text-align:center;
		      }
		      a {
		      	margin-left:auto;
			margin-right:auto;
		      }
	}
	>img {
		width:100%;
		margin-bottom:5%;
	}
	#linkinglaw_advantages {
			       padding:50px 8%;
			       background-color:#EFEFEF;
			       color:#255280;
			       font-family:Roboto;
			       h2 {
			          padding:0;
			       	  margin-bottom:25px;
				  text-align:center;
				  font-size:2.5em;
			       }
			       p {
			          margin-bottom:30px;
				  line-height:1.5em;
				  font-size:1.1em;
			       }
			       h3 {
				   font-size:1.3em;
				   margin-bottom:15px;
			       }
			       .icon-advantage {
			             display:inline-block;
				     fill:#46CF78;
				     vertical-align:-0.3em;
 			             height:30px;
				     width:30px;
				     margin-right:18px;
				     svg {
				       height:30px;
				       width:30px;
				     }
			       }
			       ul li {
			       	  line-height:2.2em;
				  font-size:1.1em;
			       }
			       #advantages_container {
			       		background-color:#fff;
					padding:30px;	    
			       }
	}		       
#reviews {
	 background-color:#ECF0F1;
	 padding:3% 5%;
		.review {
			position:relative;
			display: inline-block;
			vertical-align:top;
		        width: 33.333333%;
			>div {
			     margin:5%;
			     padding:5%;
			     background-color:#fff;
			}
		}
		h2 {
			padding-top:4px;
			line-height:1.5em;
		}
		h3 {
			font-size: 0.9em;
			line-height:1.7em;
			font-weight: bold;
			padding:0 5%;
		}
		.review p {
			overflow:hidden;
			height:14em;
	    	  	line-height:1.4em;    
	    	}
		.review>div:after {
			content: "";
			position: absolute;
			bottom: 1%;
			left: 8%;
			border-width: 25px 25px 0;
			border-style: solid;
			border-color: #fff transparent;
			display: block;
			width: 0;
		}
 	 }
}		

#press {
       padding:50px 5% 0;
       h2 {
          text-align:center;
	  margin-bottom:20px;
       }
       text-align:justify;
       article {
       	 h4 {
	    text-align:center;
	    color:#255280;
	    font-size:1.2em;
	    margin-bottom:10px;
	 }
         padding:0 25%;
	 line-height:1.5em;
	 p {
	    font-size:0.9em;
	    text-align:center;
	 }
       }
}