// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-content {
	#intro_header {
		     padding:3% 0 7%;
		     background:image-url('team-background.jpg') no-repeat;
		     background-size:100% auto;
		     color:#fff;
		     margin-bottom:2%;
		     h1 {
	 	     	padding:0 10%;
	 	     	font-size:2.5em;
			font-weight:bold;
			line-height:1.2em;
			margin-bottom:2%;
			text-align:center;
		     }
         	      .minor-intro-text {
		         font-size:1.2em;
			 margin-bottom:4%;
			 width:100%;
			 text-align:center;
		      }
		      .major-intro-text {
		          font-size:1.5em;
			  margin-bottom:2%;
			  width:100%;
			  text-align:center;
		      }
		      a {
		      	margin-left:auto;
			margin-right:auto;
		      }
	}
	>img {
		width:100%;
		margin-bottom:5%;
	}
	#linkinglaw_advantages {
			       h2 {
			       	  width:100%;
				  text-align:center;
				  font-size:2.5em;
				  color:#255280;
				  padding-bottom:2%;
			       }
			       h4 {
			   	   text-align:center;
				   font-size:1.3em;
				   text-transform:none;
				   padding:4% 0 4%;
			       }
			       >div {
			       	    display:inline-block;
				    width:50%;
				    vertical-align:top;
			       }
   			       .advantages_container {
				    color:#255280;
				    display:inline-block;
				    background-color:#ECF0F1;
			       	    padding:5% 35px 10%;
			       }
			       .left_column>div {
				        float:right;
					margin-right:8%;
			       }
			       .right_column>div {
			             margin-left:8%;
				     display:inline-block;
			       }
			       .icon-advantage {
			             display:inline-block;
				     fill:#2BDE73;
				     vertical-align:-0.3em;
 			             height:25px;
				     width:25px;
				     svg {
				       height:25px;
				       width:25px;
				     }
			       }
			       .button-container {
			       			 text-align:center;
						 margin-top:13%;
			       }
			       ul li {
			       	  line-height:2em;
			       }
			       a {
				    background-color: #E46A32;
				    color: white;
				    cursor: pointer;
				    font-weight:bold;
				    font-size:1em;
				    padding:2% 8%;
			       }	      
	}		       
#reviews {
	 background-color:#ECF0F1;
	 padding:3% 5%;
		.review {
			position:relative;
			display: inline-block;
			vertical-align:top;
		        width: 33.333333%;
			>div {
			     margin:5%;
			     padding:5%;
			     background-color:#fff;
			}
		}
		h2 {
			padding-top:4px;
			line-height:1.5em;
		}
		h3 {
			font-size: 0.9em;
			line-height:1.7em;
			font-weight: bold;
			padding:0 5%;
		}
		.review p {
			overflow:hidden;
			height:14em;
	    	  	line-height:1.4em;    
	    	}
		.review>div:after {
			content: "";
			position: absolute;
			bottom: 1%;
			left: 8%;
			border-width: 25px 25px 0;
			border-style: solid;
			border-color: #fff transparent;
			display: block;
			width: 0;
		}
 	 }
}		

#press {
       padding:0 5%;
       h2 {
       	  padding:35px 0 25px;
       }
       text-align:justify;
}