@font-face {
	 font-family: Roboto;
     src: font-url('Roboto-Regular.ttf');	   
}

@font-face {
	 font-family: Roboto-Black ;
     src: font-url('Roboto-Black.ttf');	   
}

html, body {
      height:100%;
      font-family:Roboto;
}

main, footer {
	position:relative;
	width:100%;
}

header {
        top:0;
	margin-top:0;
        position:fixed;
	height:100px;
	width:100%;
	background-color:#fff;
	z-index:9999;
	box-shadow: 0 4px 4px -2px #707372;
}

.phone-number {
	line-height:40px;
	color:#fff;
	display:inline-block;
}

.call-info {
	   margin-left:55%;
	   display:inline-block;
	   font-size:0.8em;
	   span {
	      padding:0 0.6em;
	   }
	   img, span {
	   	vertical-align:middle;
	   }
}



main {
     margin-top:100px;
     min-height:80%;
}

footer {
       background-color:#15425D;
       height:50%;
       margin-top:50px;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	color: #255280;
	padding-bottom: 2%;
}

a {
	text-decoration:none;
	color:#6599cd;
}

a:visited {
	color:#6599cd;
}

nav {
	position:absolute;
	width:100%;
	li {
		   list-style-type:none;
		   display:inline-block;
	}
	.main_nav {
		height:60px;
		margin-left:10%;
		li {
		   line-height:60px;
		   height:100%;
		   padding:0 30px;
		}
		li:hover {
			background-color:#efefef;
		}
		li.selected {
			background-color:#000;
			a {
			    color:#fff;
			}
		}
	}
	div {
	    height:40px;
	    background-color:#000;
	    .user_nav {
	    	     float:right;
	    	     color:#fff;
		     margin-right:10%;
		     li {
				     padding-left:15px;
				     line-height:40px;
		     		     font-size:0.8em;
				     text-transform:capitalize;
		     }
	    }
	}
}

a.button-big {
	    display: block;
	    width: 40%;
	    background-color: #E46A32;
	    color: white;
//	    border-radius: 6px;
	    line-height: 2.7em;
	    vertical-align: middle;
	    cursor: pointer;
	    font-weight:bold;
	    font-size:1.5em;
	    text-align:center;
}

a.button-big:visited {
            color:white;
}

footer {
       color:#b3e4ff;
       .footer-divider {
          border:1px solid red;
	  >div {
	      display:inline-block;
	  }
       }
       .line {
       	     height:1px;
	     background-color:#b3e4ff;
       }
}
