@font-face {
	 font-family: Roboto;
     src: font-url('Roboto-Regular.ttf');	   
}

@font-face {
	 font-family: Roboto-Black ;
     src: font-url('Roboto-Black.ttf');	   
}

@font-face {
	 font-family: Dragon ;
	 src: font-url('dragon_is_coming/dragon.otf');	   
}

html, body {
      height:100%;
      font-family:Roboto;
}

main, footer {
	position:relative;
	width:100%;
}

header {
        top:0;
	margin-top:0;
        position:fixed;
	height:100px;
	width:100%;
	background-color:#fff;
	z-index:9999;
	box-shadow: 0 4px 4px -2px #707372;
}

.phone-number {
	line-height:40px;
	color:#fff;
	display:inline-block;
}

.call-info {
	   margin-left:55%;
	   display:inline-block;
	   font-size:0.8em;
	   span {
	      padding:0 0.6em;
	   }
	   img, span {
	   	vertical-align:middle;
	   }
}

main {
     margin-top:100px;
     min-height:80%;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	color: #255280;
	padding-bottom: 2%;
}

a {
	text-decoration:none;
	color:#6599cd;
}

a:visited {
	color:#6599cd;
}

nav {
	position:absolute;
	width:100%;
	li {
		   list-style-type:none;
		   display:inline-block;
	}
	.main_nav {
		position:relative;
		background-color:#fff;
		height:60px;
		margin-left:5%;
		.linking, .law, ul {
		       display:inline-block;
		}
		.linking {
		      vertical-align:middle;
		      font-size:2em;
		      margin-right:90px;
		 }
    	         .law {
			position:absolute;
			top:-34px;
			left:90px;
		      	   font-size:6em;
		           color:#7F4040;
		      	   font-style:italic;
		           font-family:Dragon;
	        }
		ul {
		   li {
		      line-height:60px;
		      height:100%;
		      padding:0 30px;
		    }
		    li:hover {
			background-color:#efefef;
		    }
		    li.selected {
			background-color:#000;
			a {
			    color:#fff;
			}
		     }
	      }
	}
	>div {
	    height:40px;
	    background-color:#000;
	    .user_nav {
	    	     float:right;
	    	     color:#fff;
		     margin-right:10%;
		     li {
				     padding-left:15px;
				     line-height:40px;
		     		     font-size:0.8em;
				     text-transform:capitalize;
		     }
	    }
	}
}

a.button-big {
	    display: block;
	    width: 40%;
	    background-color: #bf6060;
	    color: white;
	    line-height: 2.7em;
	    vertical-align: middle;
	    cursor: pointer;
	    font-weight:bold;
	    font-size:1.5em;
	    text-align:center;
}

a.button-big:visited {
            color:white;
}

footer {
       background-color:#15425D;
       width:80%;
       padding:2em 10%;
       color:#7cadca;
       font-size:0.9em;
       ul {
       	  vertical-align:top;
       	  li {
	     line-height:2em;
	  }
       }
       #sitemap {
       	      position:relative;
       	      h3 {
	      	 color:#fff;
		 font-size:1.1em;
		 padding-bottom:0.5em;
	      }
	    
              >div {
	      	    position:relative;
	      	    vertical-align:top;	          
       	      	    display:inline-block;
	      }
	      #footer-navigation {
	      		       position:relative;
              		       width:50%;
	    		       ul {
			       	       display:inline-block;
			       }
			       ul:last-child {
			               position:absolute;
				       right:25%;
			       }
	      }

	      #footer-contact-info {
	       			    margin-left:5%;
	      }

	      #address-info {
	       		     right:0;
			     position:absolute;
	      } 
       }
       #disclaimer {
       	      color:#47738D;
	      margin-top:1em;
              .disclaimer-header {
	         position:relative;
 		 text-align:center;
        	 .line {
			    height:1px;
			    background-color:#47738D;
			    width:100%;
			    margin-bottom:-0.6em;
		 }
		 .copyright {
		     padding:0 1em;
		     background-color:#15425d;
		 }
       	      }
	      .disclaimer-text {
	          padding:0.5em 5%;
		  font-size:0.8em;
	      }
       }
}

.footer-icon {
	     width:10%;
	     margin-right:0.8em;
}

.phone-icon {
	     vertical-align:-0.5em;
}

.mail-icon {
	   vertical-align:-0.3em;
}

.marker-icon {
	     vertical-align:-0.4em;
}

.follow-us-icon {
		width:8%;
}

#follow_us {
	   margin-top:2em;
	   h3 {
	      text-align:center;
	   }
	   ul {
	   	   li {
	   	      width:48%;
		      padding:0 1%;
		      display:inline-block;
	   	    }
		    li:first-child {
		    		   text-align:right;
		    }
          }
}
