@import 'common'

html, 
body
  min-height: 100%
  font-family: Roboto

main, 
footer 
  position: relative
  width: 100%

header 
  top: 0
  position: fixed
  height: 100px
  width: 100%
  background-color: $white
  z-index: 9999
  box-shadow: 0 4px 4px -2px $shadow

main 
  margin-top: 100px
  min-height: 80%

//HEADER
#main-nav
  height: 60px
  margin-left: 5%
  ul,
  li
    display: inline-block
  a
    display: block
    line-height: 60px
    padding: 0 30px
    color: $blue
    &:hover
      background-color: $lightBlue
    &.selected
      background-color: $black
      color: $white

#company-logo
  display: inline-block
  font-size: $font_xl
  font-weight: bold
  margin-right: 30px
  color: $black
  height: 60px
  vertical-align: sub

#phone-number 
  margin-left: 55%
  display: inline-block
  font-size: $font_xs
  img, 
  span 
    vertical-align: middle
  span 
    padding: 0 0.6em
    line-height: 40px
    color: $white

#account-nav
  float: right
  color: $white
  margin-right: 10%
  font-size: $font_xs
  li
    display: inline-block
    padding-left: 15px
    line-height: 40px
    a 
      color: $white
      &:hover
        color: $blue 

//FOOTER
footer 
  background-color: $deepBlue
  width: 80%
  padding: 2em 10%
  color: $dodgerBlue
  font-size: 0.9em
  ul 
    vertical-align: top
    li 
      line-height: 2em

#sitemap
  position: relative
  h3 
    color: $white
    font-size: $font_m
    padding-bottom: 0.5em
    text-align: left
  >div
    vertical-align: top	          
    display: inline-block

#footer-nav
  position: relative
  width: 50%
  ul 
    display: inline-block
    &:last-child 
      position: absolute
      right: 25%
    a
      color: $dodgerBlue
      &:hover
        color: $white

#footer-contact-info 
  margin-left: 5%

#address-info 
  right: 0
  position: absolute

#disclaimer 
  color: $grayBlue
  margin-top: 1em

.disclaimer-header 
  position: relative
  text-align: center
  
.line 
  height: 1px
  background-color: $grayBlue
  width: 100%
  margin-bottom: -0.6em

.copyright 
  padding: 0 1em
  background-color: $deepBlue

.disclaimer-text 
  padding: 0.5em 5%
  font-size: $font_xs

.footer-icon 
  width: 10%
  margin-right: 0.8em

.phone-icon 
  vertical-align: -0.5em

.mail-icon 
  vertical-align: -0.3em

.marker-icon 
  vertical-align: -0.4em

.follow-us-icon 
  width: 8%

#follow_us 
  margin-top: 2em
  ul 
    li 
      width: 48%
      padding: 0 1%
      display: inline-block
      &:first-child 
        text-align: right

#notification 
  position: fixed
  bottom: 0.5em
  right: 0.5em
  width: 20em
  font-size: $font_s
  line-height: 1.4em
  color: #ccc
  border: 10px solid rgba(51,51,51, 0.8)
  border-radius: 7px
  p 
    padding: 0.5em 1.5em
    background-color: $black
