// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new-question-content {
        position:relative;
	form {
	     width:40%;
             float:left;
	     margin-left:10%;
	}
	article {
	     border-radius:6px;
	     background-color:#EA3852;
	     width:30%;
             float:right;
	     margin-right:10%;
	}
}

form {
    padding:27px;
    legend {
       margin-bottom:25px;
       font-size:2.5em;
       width:100%;
       padding-bottom:5px;
       font-family:Roboto;
    }
}

input[type=text], textarea {
	border:none;
	display:block;
	width:80%;
	font-size:1.5em;
	padding:0.5em;
}

input[type=submit] {
        height:2em;
        border:none;
	background-color:#E46A32;
	color:#fff;
	padding:0 1em;
	height: 2.7em;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5em;
	font-family:Roboto;	
}

.field {
	position:relative;
        margin-bottom:4%;
        color:#3A3A3A;
	font-family:Roboto;
}

textarea  {
	height:6em;
	font-family:Roboto;
}

.speech-bubble {
    position:absolute;
    top:-1px;
    width:65%;
    border:3px solid #EA3852;
    margin-left:30px;
    left:100%;
    border-radius:6px;
    padding:10px 10px 10px 12px;
    background-color:#E9E8E3;
    z-index:999;
    h5 {
       font-size:1.1em;
       padding:0.6em 0; 
    }
    p {
      margin-top:10px;
      font-size:0.9em;
      line-height:1.3em;
    } 
}

.speech-bubble:before {
        content: "";
	position:absolute;
	left:-50px;
	width: 0; 
	height: 0; 
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent; 
	border-right:50px solid #EA3852; 
}

.speech-bubble:after {
        content: "";
	position:absolute;
	left:-42px;
	top:14px;
	width: 0; 
	height: 0; 
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent; 
	border-right:42px solid #E9E8E3; 
}

b {
	font-weight:bold;
}

#hint_question_description, 
#hint_question_subject {
		      display:none;
}

