<% unless @resource.profile %>
   <p>Beste <%= @email %>,</p>
   <p>Welkom en hartelijk dank voor uw aanmelding bij LinkingLaw!</p>
   <p>Activeer <%= link_to 'hier', confirmation_url(@resource, confirmation_token: @token) %> uw account en stel direct gratis een juridische vraag.</p>
<% else %>
   <p>Beste <%= @email %>,</p>
   <p>
      Welkom en hartelijk dank voor uw aanmelding bij LinkingLaw! Met gemiddeld duizend bezoekers per maand, helpt LinkingLaw u bij het vinden van nieuwe cliënten.
   </p>
   <p>
      Nadat u uw account <%= link_to 'hier', confirmation_url(@resource, confirmation_token: @token) %> bevestigd hebt, kunt u zelf uw profiel aanvullen. Hoe uitgebreider uw profiel, hoe groter de kans dat u door potentiële cliënten gevonden wordt.
   </p>
<% end %>
  <p>Hebt u vragen, opmerkingen of suggesties, neemt u dan contact met ons op. Wij zijn u graag van dienst!</p>
  <p>Met vriendelijke groet,</p>
  <p>Het LinkingLaw team</p>
