<p>Hallo,</p>

<p>U hebt te kennen gegeven dat u uw wachtwoord vergeten bent. Klik s.v.p. op onderstaande link om een nieuw wachtwoord in te stellen:</p>

<p><%= link_to 'Wachtwoord wijzigen', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als u geen nieuw wachtwoord hebt aangevraagd, kunt u deze e-mail als niet verzonden beschouwen.</p>
<p>Uw wachtwoord zal niet wijzigen, totdat u via bovenstaande link een nieuw wachtwoord ingesteld hebt.</p>
<p>Met vriendelijke groet,</p>
<p>LinkingLaw</p>
