<div id="disclaimer">
  <div class="disclaimer-header">
    <div class="line"></div>
    <div><span class="copyright">&#169; 2014 LinkingLaw B.V. - Alle rechten voorbehouden</span></div>
  </div>
  <p class="disclaimer-text">LinkingLaw is een online-platform dat ondernemers met juridische vragen en juridische professionals op basis van hun eigen voorkeur verbindt. Wij zijn geen advocatenkantoor, leveren geen juridische diensten en verstrekken geen juridisch advies. Aangesloten juridische professionals betalen een vaste bijdrage om te kunnen adverteren en/of te participeren op LinkingLaw.</p>
</div>
