<nav>
   <div class="bg-black">
	<div id="phone-number">
          <%= image_tag "contact/phone.svg", class: "phone-icon" %>
	  <span>06-50607867</span>
	</div>
	<ul id="account-nav">
		<li><a href="#">Registreren</a></li>
		<li><a href="#">Aanmelden</a></li>
	</ul>
   </div>
   <div id="main-nav">
     <!--div id="company-logo">LinkingLaw</div-->
    <%= link_to "LinkingLaw", home_path, id: "company-logo" %>
     <ul>
	<li><%= link_to "Over LinkingLaw", about_path, id: "about" %></li><li><%= link_to "Contact", contact_path, id: "contact" %></li>
     </ul>
   </div>
</nav>
