<div id="notification">
  <h4>Let op: dit is een demo site!</h4>
  <a id="notification-btn" onclick="return false;" href="#"><%= image_tag 'common/arrow-up.svg' %></a> 
  <p>
Dit is een demo-website die speciaal voor de verkiezing van <a href="http://www.thenextentrepreneur.nl" target="_blank">The Next Entrepreneur 2014</a> live is gezet. De website is nog niet volledig functioneel en niet getest met Internet Explorer browsers noch op mobiele apparaten.
  </p>
</div>
