<div id="footer-navigation">
	<h3>Navigatie</h3>
	<ul>
		<li>Home</li>
		<li>Over LinkingLaw</li>
		<li>Contact</li>
		<li>Registreren</li>
		<li>Aanmelden</li>
	</ul><ul>
		<li>Plaats een vraag</li>
		<li>Voor professionals</li>
		<li>Adverteren</li>
		<li>Pers</li>
	</ul>
</div><div id="footer-contact-info">
	<h3>Contact</h3>
	<ul>
		<li><%= image_tag "contact/phone_blue.svg", class: 'footer-icon phone-icon' %> 06-50607867</li>
		<li><%= image_tag "contact/mail.svg", class: 'footer-icon mail-icon' %> info@LinkingLaw.nl</li>
		<li><%= image_tag "contact/marker.svg", class: 'footer-icon marker-icon' %> Bezoek ons</li>
	</ul>
</div><div id="address-info">
	<h3>LinkingLaw B.V.</h3>
	<ul>
		<li>Admiraal de Ruijterweg 304 II</li>
		<li>1055 MT Amsterdam</li>
		<li>KvK-nummer: 123456</li>
		<li>Btw-nummer: 123456</li>
	</ul>
</div>
